<div class="todos-wrapper">
  <div class="container">

    <div class="todo-item completed">
      <div class="check-box">
        <i class="material-icons-outlined">check</i>
      </div>
      <p class="todo-text">This is a todo text</p>
    </div>

    <div class="todo-item">
      <div class="check-box">
        <i class="material-icons-outlined">check</i>
      </div>
      <p class="todo-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus mollitia, maiores, adipisci error quam ullam hic sequi eligendi alias doloribus earum sit dolorem tempora? Voluptates voluptatem error doloremque amet debitis?</p>
    </div>
  </div>
</div>
